<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Untitled</title>
</style>
</head>
<body>
<%- for file in files -%>
	<section>
		<header>
			<h5><a href=""><%= file.path %></a></h1>
		</header>
		<ul>
			<%- for line in file.lines -%>
			<li><strong><%= line.line_number %>:</strong><%= line.text %></li>
			<%- end -%>
		</ul>
	</section>
<%- end -%>
<!-- 1P -->
</body>
</html>