<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>IRB</title>
	<link rel="stylesheet" href="css/raster.css" />
	<link rel="stylesheet" href="css/style.css" />
	<script id="output-template" type="text/x-handlebars-template">
		<pre><code>{{output}}</code></pre>
	</script>
	<script type="text/javascript" src="js/handlebars.js"></script>
	<script type="text/javascript" src="js/zepto.js"></script>
	<script type="text/javascript" src="js/wcirb.js"></script>
</head>
<body>

</body>
</html>
